<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Todo</title>

    <link rel="stylesheet" href="/assets/css/styles.css">

    <script src="/assets/jquery/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/todo-list.js"></script>
</head>

<body>
    <h1>Nodejs Todo</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add New Item..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for(var i=0; i<todos.length; i++){ %>
                <li><%= todos[i].item%></li>
                <%}%>
        </ul>
    </div>
</body>

</html>